<html>
  <head>
    <style type="text/css">
      body {
        background: white;
        color: black;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 5px solid black;
        padding: 10px;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome, {{uname}}</h4>
      <h2> <a href="my_products">Your Products </a> </h2>
      <h2> <a href="upload_product">Upload Products</a> </h2>
      <h2> <a href="inbox">Inbox </a> </h2>
      <h3> Products around you </h3>
      {% for product in products %}
      <div class="container">
        <h4>{{product.name}}</h4>
        <a href="product/{{product.id}}"><img src="{{product.url}}" /></a>
        <img src="{{product.url}}"
        width="100%" />
      </div>
      {% endfor %}
    </div>
  </body>
</html>
