<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
      h4 {
        text-transform: uppercase;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Welcome, {{uname}}</h4>
      <h2> <a href="my_products">Your Products </a> </h2>
      <h2> <a href="upload_product">Upload Products</a> </h2>
      <h2> <a href="inbox">Inbox </a> </h2>
      <div class="container">
        <h4>{{product.name}}</h4>
        <img src="{{product.url}}" />
        <h3>Description: {{product.desc}}</h3>
        <h3>Year of Purchase: {{product.year}}</h3>
        <h3>Exchanger's uname: {{product.uname}}</h3>

        <h4><a href="exchange">Ask to exchange</a></h4>
      </div>
    </div>
  </body>
</html>
